<footer class="footer">
  <small>
    Copyright © 2015 <a href="/">Ginvite</a> All rights reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
