<footer class="footer">
  <small>
    Copyright © 2015 <%= link_to "Ginvite", root_path %>
     All rights reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", '/contact' %></li>
    </ul>
  </nav>
</footer>
