<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Ginvite", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Contact", '/contact' %></li>
      </ul>
    </nav>
  </div>
  <!-- ソーシャルボタンを追加-->
</header>
